/* Listes */
nav ul {
  list-style: none
}

nav ul li {
  display: inline-block;
  margin-right: 20px
}


#modal {
  width: 300px;
  height: 80px;
  background-color: red;
  color: white;
  border-radius: 6px;
  text-align: center;
  padding: 8px;
  font-size: 1.4rem;
  position: absolute;
  top:-50px;
  right: -50px
}
