{% extends 'base.html.twig' %}

{% block body %}
<h1>Ajout d'un pays</h1>
<form method="post">
  <input type="text" name="name" placeholder="Nom">
  
  <button>Enregistrer</button>
</form>
{% endblock %}
