{% extends 'base.html.twig' %}

{% block body %}

 <a class="btn btn-primary"
  href="{{path('proverb_add')}}">Ajouter un proverbe</a>


  {% for proverb in proverbs %}

  <article class="proverb">
    <header>
      {% for topic in proverb.topic %}
        {{topic.name}}&nbsp;&nbsp;
      {% endfor %}
    </header>
    {{proverb.body}}
    <footer>
      Proverbe {{ proverb.country.adjective }}
    </footer>
  </article>

  {% endfor %}


{% endblock %}
