<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Application Symfony Intro | {% block title %} {% endblock %}</title>
        <!-- lien externe vers bootstrap -->
        <link rel="stylesheet"
          href="{{asset('css/bootstrap.min.css')}}">
        <link rel="stylesheet"
          href="{{asset('css/styles.css')}}">
    </head>
    <body>

        <header>
          <nav>
            <ul>
              <li>
                <a href="/">Accueil</a>
              </li>
              <li>
                <a href="/color/add">Ajout couleur</a>
              </li>
              <li>
                <a href="/country">Pays</a>
              </li>
              <li>
                <a href="{{path('topic')}}">Thèmes</a>
              </li>
              <li>
                <a href="{{path('proverb')}}">Proverbes</a>
              </li>
            </ul>
          </nav>
        </header>
        {% block body %}{% endblock %}

        {% block js %}{% endblock %}
    </body>
</html>
