{% extends 'base.html.twig' %}

{% block title %} ajout d'une couleur {% endblock %}

{% block body %}
<h1>Ajout d'un couleur</h1>

{% if method == 'POST' %}
<section>
  {% if success %}
    Couleur enregistrée !
  {% else %}
    Couleur non enregistrée, désolé...
  {% endif %}
</section>
{% endif %}

<form method="post">
  <input type="text"
    name="nameEn" placeholder="Nom en anglais">
  <input type="text"
    name="nameFr" placeholder="Nom en français">
  <input type="text"
    name="hexa" placeholder="Couleur en hexadécimal">
  <button>Enregistrer</button>
</form>
{% endblock %}
